.headContainer {
  width: 100%;
}

.headBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-family: var(--font-family-base);
  background-color: var(--color-blue);
  padding-inline: var(--container-padding-x);
}

.headContactsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  column-gap: 40px;
  line-height: 1.69;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: var(--color-base);
}

.headTimetable {
  line-height: 1.69;
  font-weight: 400;
  position: relative;
  font-size: 13px;
  line-height: 22px;
  color: var(--color-base);
}

.headContactsLink {
  margin-left: 15px;
}

.headTimetable .quote {
  font-size: 17px;
  font-weight: 400;
  padding-right: 25px;
}

.headContactsItem {
  position: relative;
}

.headContactsItem.mail {
  position: relative;
}

.headContactsItem.mail::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: currentColor;
  position: absolute;
  right: 103%;
  top: 65%;
}

.headContactsItem.location {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 19px;
}

.headContactsItem.location::before {
  content: ".";
  position: absolute;
  top: 35%;
  left: -7%;
  translate: -50% -50%;
}

.headContactsItem a {
  color: var(--color-base);
}

.headContactsLink:hover {
  color: var(--color-gray);
  transition-duration: var(--transition-duration);
}
