.servicesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 265px;
  margin-bottom: 142px;
}

.servicesList {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 75px;
  column-gap: 45px;
}

.servicesListItem {
  display: flex;
}

.servicesInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicesItemImage {
  margin-right: 28px;
}
