@font-face {
  font-family: "OpenSans";
  src: url("../public/fonts/OpenSans-Light.woff2") format ("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../public/fonts/OpenSans-Regular.woff2") format ("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../public/fonts/OpenSans-Medium.woff2") format ("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Catamaran";
  src: url("../public/fonts/Catamaran-Bold.woff2") format ("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Catamaran";
  src: url("../public/fonts/Catamaran-Medium.woff2") format ("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Catamaran";
  src: url("../public/fonts/Catamaran-Regular.woff2") format ("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Catamaran";
  src: url("../public/fonts/Catamaran-Light.woff2") format ("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  /* color: var(--color-base); */
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body,
html {
  max-width: 1920px;
}

body {
  background-color: var(--color-base);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 13px;
}

:root {
  --font-family-base: "OpenSans", sans-serif;
  --font-family-alternative: "Catamaran", sans-serif;
  --font-family-alternative-2: "Segoe UI", sans-serif;

  --color-base: #ffffff;
  --color-blue: #2e3192;
  --color-orange: #f4572e;
  --color-blue-alternative: #1e2d78;
  --color-orange-alternative: #dd3333;
  --color-light-blue: #eef7ff;
  --color-light-orange: #fff2f2;

  --container-width: 1920px;
  --container-padding-x: 40px;

  --border: 5px;
}

.containerInner {
  padding-inline: var(--container-padding-x);
}

.container {
  width: var(--container-width);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.smallText {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 13px;
}

.uppercase {
  text-transform: uppercase;
}

.button {
  font-family: var(--font-family-base);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: var(--color-base);
}

.mediumTitle {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-base);
}

.bigTitle {
  font-family: var(--font-family-alternative);
  font-weight: 500;
  font-size: 65px;
  color: var(--color-blue);
}
